.displayDivContainer {
    display: flex;
    width: 100%;
    background-color: white;
    
}

.cart_images {
    width: 230px;
    height: 200px;
    position: relative;
    margin: 10px;
}
    
.Cart_tag {
    position: absolute;
    left: 750px;
    font-size: 25px;
}

