 .body-white {
     display:flex;
     /* justify-content: center; */
     /* flex-direction: row; */
     width: 100%;
     /* height: 100vh; */
     /* height: 1000px; */
     background-color: white;
     /* overflow: hidden; */
     flex-wrap: wrap;
     flex-direction: row;
     
    }
    
    .outerImageDiv {
        width: 50%;
        margin: 10px;
        height: 55%;
        /* cursor: pointer; */
    }
    
    .images {
        width: 280px;
        height: 250px;
        position: relative;
        left: 40px;
    }

.mensTitle {
    font-size: 15px;
    position: relative;
    left: 100px;
    background-color: whitesmoke;
    
}

.add_to_cart {
    /* background-color: transparent; */
    outline-color: none;
    position: relative;
    bottom: 10px;
    left: 100px;
    margin: 4px;
    border: none;
    color: white;
    background: black;
    font-size: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.add_to_cart:focus {
    outline: 0;
}

.mensPriceTag {
    position: relative;
    right: -26px;
    top: 13px;
}