body {
    background-color: black;
}

.body-white {
    display:flex;
    justify-content: center;
    /* flex-direction: row; */
    width: 100%;
    background-color: white;
    overflow: hidden;

}
.shalley {
    display: flex;
    justify-content: center;
    align-items:center;
    filter: gray;
    -webkit-filter: grayscale(1); 
    -webkit-transition: all .8s ease-in-out; 
    width: 47vw;
    height: 800px;
    margin: 7px;
    transition: .5s ease;
    
    
}

.pics {
    background: url('../pictures/Left_Picture_Main.jpeg') center top;
    background-size: cover
}

.becca{
    background: url('../pictures//Right_Picture_Main.jpg') center top;
    background-size: cover;
}
.shalley:hover {
    filter: none;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    /* opacity: 0.9; */
}
 .ShalButton {
     display: block;
     font-size: 28px;
     word-spacing:5px;
     font-family: Helvetica;
     color: whitesmoke;
     padding: 4px;
     border: 2px solid  whitesmoke;
     border-collapse: separate;
     background-color: transparent;
     
    } 

.rightButton {
    display: block;
    font-size: 28px;
    word-spacing:5px;
    font-family: Helvetica;
    color: whitesmoke;
    padding: 4px;
    border: 2px solid  whitesmoke;
    border-collapse: separate;
    background-color: transparent;
}



 
 
