.navbar.navbar-expand-sm.navbar-light.mb-3 {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    width: 110%;
    border-radius: 0px;
    
   }

 .list {
     margin-left: 20px;
 }

 @media (min-width: 576px) {
    test {
        width: 560px;
    }
}


 

