.navbar.navbar-expand-sm.navbar-light.mb-3 {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 0px;
    height: 10px;    
   }

 .list {
     margin-left: 20px;
 }



 


 

