.account_body {
    display: flex;
    background-color: white;
    width:100%;
}

.logOut_button {
    color: white;
    background: black;
    position: absolute;
    top: 200px;
}

.account_details {
    position: relative;
    margin: 30px;
    left: 600px;
}

.account_image {
    height: 300px;
    width: 300px;
}   